body{
    background-color: blue;
}

.gameContainer{
    display: flex;
    flex-direction: column;
    background: blue;
    justify-content: center;
    align-items: center;
}

.storage{
    display: none;
}

.gameContainer.travelphase{
    display: none;
}

main{
    height: 75vh;
    width: 75vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interactiveBox{
    background-color: white;
    height: 20vh;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-self: center;
}

.option:hover{
    color: blue;
}

.option.hidden{
    display: none;
}

h2{
    text-align: center;
}

.homeScreen{
    color: white;
    text-align: center;
}

.lane{
    background-color: black;
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.space.two{
    align-items: flex-end;
    justify-content: flex-end;
}

.space{
    position: relative;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.resources{
    color: white;
}

ul{
    list-style-type: none;
}

.randomEncounter{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: orange;
    justify-self: start;

    position: relative;
    animation: encounterMove1 5s forwards;
    
}

.fleet{
    width: 0;
    height: 0;
    border-top: 5vh solid transparent;
    border-left: 10vh solid gold;
    border-bottom: 5vh solid transparent;
    z-index: 1;
    

    position: relative;
    animation: shipMove1 5s forwards;
}

@keyframes shipMove1 {
    from {left: -60%}
    to{left: -10%}
}

@keyframes shipMove2 {
    from {left: -10%}
    to{left: 130%}
}

@keyframes encounterMove1 {
    from {left: 60%}
    to{left: 0%}
}

@keyframes encounterMove2 {
    from {left: 0%}
    to{left: -60%}
}

@keyframes encounterDissolve {
    from {opacity: 100%;}
    to{opacity: 0%;}
}