html { 
    width:100%; 
    height:100%; 
    margin:0;
    padding: 0; 
}
body { 
    width:100%; 
    height:100%; 
    margin:0; 
    padding:0;
    font-family: lores-12, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gameContainer{
    display: flex;
    flex-direction: column;
    /* background: blue; */
    justify-content: center;
    align-items: center;
}

.gameContainer.travelphase{
    display: none;
}

main{
    height: 75vh;
    width: 75vw;
    /*
    background-color: black;
    */
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.interactiveBox{
    /* background-color:black; */
    color: yellow;
    height: 20vh;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;

    z-index: 1;

    background-image: url('././assets/artem-bayankin-starconflict-textures-panel-sci-fi-09.jpg');

    font-size: 1.5vh;
}

.option:hover{
    color: blue;
}

.option.hidden{
    display: none;
}

h2{
    text-align: center;
    font-size: 3vh;
}

.homeScreen{
    color: white;
    text-align: center;
}

.lane{
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.space.two{
    align-items: flex-end;
    justify-content: flex-end;
}

.space{
    position: relative;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.resources{
    color: yellow;
    z-index: 4;
    background-color: black;
    font-size: 1.8vh;
}

ul{
    list-style-type: none;
}

.randomEncounter{
    width: auto;
    height: 20vh;
    justify-self: start;

    position: relative;
    animation: encounterMove1 5s forwards;
    
}
.fleet{
    width: auto;
    height: 30vh;
    z-index: 1;
    

    position: relative;
    animation: shipMove1 5s forwards;
}

@keyframes shipMove1 {
    from {left: -80%}
    to{left: -10%}
}

@keyframes shipMove2 {
    from {left: -10%}
    to{left: 130%}
}

@keyframes encounterMove1 {
    from {left: 60%}
    to{left: 0%}
}

@keyframes encounterMove2 {
    from {left: 0%}
    to{left: -150%}
}

@keyframes encounterDissolve {
    from {opacity: 100%;}
    to{opacity: 0%;}
}

.starContainer{
    height: 95vh;
    width: 75vw;
    position: absolute;
    z-index: 0;
    background-color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    overflow: hidden;
}


.spacer{
    width: 3vh;
    height: 3vh;
    position: relative;
}

.star1{
    width: auto;
    height: 1vh;
    position: relative;
}
.star2{
    width: auto;
    height: 1.5vh;
    position: relative;
}
.star3{
    width: auto;
    height: 2vh;
    position: relative;
}
.star4{
    width: auto;
    height: 2.5vh;
    position: relative;
}
.star5{
    width: auto;
    height: 3vh;
    position: relative;
}

.start{
    width: 12vh;
    height: 7vh;
    font-size: 2.5vh;
    background: none;
    border: solid white;
    color: white;
    font-family: lores-12, sans-serif;
    font-weight: 400;
    font-style: normal;

}